<%- include('./partials/header'); %>

    <main>
        <div class="ui grid segment ">
            <div class="segment eight wide column">
                <h1>Users List</h1>
                <p>All registered users</p>
            </div>

            <ul>
                <% users.forEach(function(user) { %>
                    <li class="ui segment">

                        <div class="title">
                            username =
                            <%= user.user_name%>
                        </div>
                        <div class="content">
                            user_id =
                            <%= user.uid %>
                                <br>
                                pickup =
                                <%= user.pick_clothes.data %>
                        </div>

                    </li>
                    <% }); %>
            </ul>
        </div>
    </main>

    <footer>
        <%- include('./partials/footer'); %>
    </footer>

    </body>

    </html>